input[type=text] {
  border: 2px solid red;
  border-radius: 4px;
  background-color: lightblue;
}

.custom {
  border: 2px solid red;
  border-radius: 4px;
  background-color: lightblue;
}

/*select {*/
/*  border: 2px solid red;*/
/*}*/

h6 > ul > li {
  color: red;
  /*text-decoration-line: underline;*/
}

/*h6 {*/
/*  color: red;*/
/*  text-decoration-line: underline;*/
/*}*/