{% extends 'carriage/carriage_base.html' %}
{%  load static %}

{% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'carriage/base_css/mycss.css' %}">
{%  endblock %}

{%  block carriage_content %}

    <div class="page-banner-wrap text-center bg-cover" style="background-image: url('{% static "carriage/img/home2/request.jpg" %}')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>Get our price offer</h1>
            </div>
        </div>
    </div>


    <section class="contact-page-wrap section-padding">
        <div class="container">

            <div class="row pt-5">
                <div class="block-contents mb-30 pt-60">
                    <div class="section-title text-center">
                        <h5 class="text-center">quotation</h5>
                        <span>fill in the form</span>
                        <h2>get price offer <span> for every route</span></h2>
                    </div>
                </div>



                <div class="col-12 col-lg-12">

                    <div class="contact-form">
                        {%  if form.non_field_errors %}
                        <h6>{{ form.non_field_errors }}</h6>
                        {% endif %}
                        <form action="" class="row" id="contact-form" method="post">
                            {% csrf_token %}


                            <div class="col-md-6 col-12">
                                <div class="single-personal-info">
                                    {{ form.from_city }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="single-personal-info">
                                    {{ form.to_city }}
                                </div>
                            </div>
{#                            <div class="col-md-6 col-12">#}
{#                                <div class="single-personal-info">#}
{#                                    {{ form.to_city }}#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-md-6 col-12">#}
{#                                <div class="single-personal-info">#}
{#                                    {{ form.from_city }}#}
{#                                </div>#}
{#                            </div>#}
                            <div class="col-md-12 col-12">
                                <div class="single-personal-info">
                                    {{ form.selection }}
                                </div>
                            </div>
{#                            {% endfor %}#}
                            <div class="col-md-12 col-12 text-center">
                                <input class="submit-btn" type="submit" value="Get A Quote">
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>

 {% endblock %}