{% extends 'carriage/carriage_base.html' %}
{%  load static %}

{%  block carriage_content %}

    <div class="page-banner-wrap text-center bg-cover" style="background-image: url('{% static "carriage/img/page-banner.jpg" %}')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>Get our price offer</h1>
            </div>
        </div>
    </div>


    <section class="contact-page-wrap section-padding">
        <div class="container">

            <div class="row pt-5">
                <div class="block-contents mb-30 pt-60">
                    <div class="section-title text-center">
                        <h5 class="text-center">quotation</h5>
                        <span>fill in the form</span>
                        <h2>get price offer <span> for every route</span></h2>
                    </div>
                </div>

                <div class="col-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-8 offset-lg-2">

                        <form action=""  id="contact-form">
                            {% csrf_token %}
                            <div class="single-personal-info">
                            {{ form.as_div }}
                            </div>




{##}
{#                            <div class="col-md-6 col-12">#}
{#                                <div class="single-personal-info">#}
{#                                    <label for="from_city">City of Departure</label>#}
{#                                    <input type="text" id="from_city" placeholder="" >#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class="col-md-6 col-12">#}
{#                                <div class="single-personal-info">#}
{#                                    <label for="to_city">City of Destination</label>#}
{#                                    <input type="text" id="to_city" placeholder="" >#}
{#                                </div>#}
{#                            </div>#}

{#                            <div class="col-md-12 col-12 text-center">#}
{#                                <input class="submit-btn" type="submit" value="Get A Quote">#}
{#                            </div>#}
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </section>

 {% endblock %}