{% extends 'carriage/carriage_base.html' %}
{%  load static %}

{% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'carriage/base_css/mycss.css' %}">
{%  endblock %}


{%  block carriage_content %}




    <div class="page-banner-wrap text-center bg-cover" style="background-image: url('{%  static 'carriage/img/home2/contact.jpg' %}')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>contact us</h1>
            </div>
        </div>
    </div>


    <section class="contact-page-wrap section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-contact-card card1">
                        <div class="top-part">
                            <div class="icon">
                                <i class="fal fa-envelope"></i>
                            </div>
                            <div class="title">
                                <h4>Email Address</h4>
                                <span>Send us Your message</span>
                            </div>
                        </div>
                        <div class="bottom-part">                            
                            <div class="info">
                                <p>info@sg.com</p>
                                <p>jobs@sg.com</p>
                            </div>
                            <div class="icon">
                                <i class="fal fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-contact-card card2">
                        <div class="top-part">
                            <div class="icon">
                                <i class="fal fa-phone"></i>
                            </div>
                            <div class="title">
                                <h4>Phone Number</h4>
                                <span>Call us anytime</span>
                            </div>
                        </div>
                        <div class="bottom-part">                            
                            <div class="info">
                                <p>+375171234567</p>
                                <p>+375171234567</p>
                            </div>
                            <div class="icon">
                                <i class="fal fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-contact-card card3">
                        <div class="top-part">
                            <div class="icon">
                                <i class="fal fa-map-marker-alt"></i>
                            </div>
                            <div class="title">
                                <h4>Office Address</h4>
                                <span>Visit our locatiob</span>
                            </div>
                        </div>
                        <div class="bottom-part">                            
                            <div class="info">
                                <p>Podediteley ave. 129-257</p>
                                <p>Minsk, Belarus</p>
                            </div>
                            <div class="icon">
                                <i class="fal fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-5">
                <div class="block-contents mb-30 pt-60">
                    <div class="section-title text-center">
                        <h5 class="text-center">contact</h5>
                        <span>fill in the form</span>
                        <h2>get <span>in touch with us</span></h2>
                    </div>
                </div>

                <div class="col-12 col-lg-12">
                    <div class="contact-form">
                        <form action="" class="row"  method="POST">

                            {% csrf_token %}
                            <div class="col-md-8 offset-md-2">
                               {% if form.errors %}
                                   {% for field in form %}
                                          {% for error in field.errors %}
                                                   <p> <h5 class="formerror" >{{ error }}</h5>
                                          {% endfor %}
                                   {% endfor %}
                                {% endif %}

                            {% for field in form %}
                                {{ field.label_tag }}
                            {{ field }}
                            {%  endfor %}
                            </div>
                            <div class="contactbutton">
                            <div class="col-md-12 col-12 text-center">
                                <input class="submit-btn" type="submit" value="Send us contact form">
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{%  endblock %}
