{% extends 'carriage/carriage_base.html' %}
{%  load static %}

{% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'carriage/base_css/mycss.css' %}">
{%  endblock %}

{%  block carriage_content %}

    <div class="page-banner-wrap text-center bg-cover" style="background-image: url('{% static 'carriage/img/home2/transport.jpg'%}')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>Transport</h1>
            </div>
        </div>
    </div>


    <section class="service-details-wrapper section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-12 pe-xl-5">
                    <div class="service-details-contents">
                        <div class="service-feature-img">
                            <img src="{{ mode.site_image.url }}" alt="">
                        </div>
                        <div class="contents">
                            <h2>{{ mode.short_descr}}</h2>
                            <p>{{ mode.main_content}}</p>



                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-12 mt-5 mt-xl-0">
                    <div class="service-sidebar-wrapper">
                        <div class="single-sidebar-widgets">
                            <div class="wid-title">
                                <h3>Modes of transport</h3>
                            </div>
                            <div class="services-category-link">
                            {% with url_name=request.resolver_match.url_name %}
                                {% for var in content_vars %}
                                <a href="{%  url 'carriage:transport' pk=var.pk  %} "{% if url_name == 'transport' and var.id == prev_id %} class="act"{% endif %}>{{ var.short_descr }}</a>

                                {%  endfor %}
                            {%  endwith %}
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

   {%  endblock %}