{% extends 'carriage/carriage_base.html' %}
{%  load static %}

{%  block carriage_content %}

    <div class="page-banner-wrap text-center bg-cover" style="background-image: url('{% static 'carriage/img/home2/transport.jpg'%}')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>Transport</h1>
            </div>
        </div>
    </div>


    <section class="service-details-wrapper section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-12 pe-xl-5">
                    <div class="service-details-contents">
                        <div class="service-feature-img">
                            <img src="{{ mode.site_image.url }}" alt="">
                        </div>
                        <div class="contents">
                            <h2>{{ mode.short_descr}}</h2>
                            <p>{{ mode.main_content}}</p>



                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-12 mt-5 mt-xl-0">
                    <div class="service-sidebar-wrapper">
                        <div class="single-sidebar-widgets">
                            <div class="wid-title">
                                <h3>Modes of transport</h3>
                            </div>
                            <div class="services-category-link">
                                {% for var in content_vars %}
                                <a href="{%  url 'carriage:transport' pk=var.pk  %}">{{ var.short_descr }}</a>

                                {%  endfor %}

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

   {%  endblock %}