{% extends 'carriage/carriage_base.html' %}
{%  load static %}

{%  block carriage_content %}

    <div class="page-banner-wrap text-center bg-cover" style="background-image: url('{%  static 'carriage/img/home2/warehouse.jpg' %}')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>Warehousing</h1>
            </div>
        </div>
    </div>
    <div class="breadcrumb-wrapper">
        <div class="container">
            <nav>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">price</li>
                </ol>
            </nav>
        </div>
    </div>

    <section class="our-price-wrapper section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block-contents mb-60">
                        <div class="section-title text-center">
                            <h5 class="text-center">price</h5>
                            <span>Best Pricing</span>
                            <h2>The Right <span>Price for you</span></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-price-bar">
                <div class="row align-items-center">
                    <div class="col-xl-2">
                        <div class="package-name">
                            <h3>One Pack</h3>
                        </div>
                    </div>
                    <div class="col-xl-5 pe-xl-0">
                        <div class="package-features">
                            <span>Custom business rules</span>
                            <span>1 warehouse</span>
                        </div>
                    </div>
                    <div class="col-xl-2">
                        <div class="package-price">
                            <h2><span>49</span>USD</h2>
                        </div>
                    </div>
                    <div class="col-xl-3 text-xl-end">
                        <a href="#" class="theme-btn minimal-btn">get started <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="single-price-bar">
                <div class="row align-items-center">
                    <div class="col-xl-2">
                        <div class="package-name">
                            <h3>Starter Pack</h3>
                        </div>
                    </div>
                    <div class="col-xl-5 pe-xl-0">
                        <div class="package-features">
                            <span>Custom business rules</span>
                            <span>2 warehouse</span>
                            <span>Real-time rate</span>
                        </div>
                    </div>
                    <div class="col-xl-2">
                        <div class="package-price">
                            <h2><span>100</span>USD</h2>
                        </div>
                    </div>
                    <div class="col-xl-3 text-xl-end">
                        <a href="#" class="theme-btn minimal-btn">get started <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="single-price-bar active">
                <div class="row align-items-center">
                    <div class="col-xl-2">
                        <div class="package-name">
                            <h3>Business Pack</h3>
                        </div>
                    </div>
                    <div class="col-xl-5 pe-xl-0">
                        <div class="package-features">
                            <span>Pro business rules</span>
                            <span>10 warehouse</span>
                            <span>Real-time rate</span>
                        </div>
                    </div>
                    <div class="col-xl-2">
                        <div class="package-price">
                            <h2><span>149</span>USD</h2>
                        </div>
                    </div>
                    <div class="col-xl-3 text-xl-end">
                        <a href="#" class="theme-btn minimal-btn">get started <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}